<main>
    {{#if _id}}
    {{>single_user}}
    {{else}}
    <h1>Users</h1>

    <table>
        <tr>
            <th>Full name</th>
            <th>Address</th>
            <th>Link</th>
        </tr>

        {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{address.street}} {{address.suite}}, {{address.zipcode}} {{address.city}}</td>
            <td><a target="_blank" href={{website}}>{{website}}</a></td>
        </tr>
        {{/each}}

    </table>
    {{/if}}
</main>